<!DOCTYPE html>
<html>
  <head>
    <title>Execute Script Form</title>
  </head>
  <body>
    <h1>Execute Script Form</h1>
    {% if message %}
      <p>{{ message }}</p>
    {% endif %}
    <form method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>
      <label for="number">Integer Value:</label>
      <input type="number" id="number" name="number"><br><br>
      <input type="submit" value="Execute">
    </form>
  </body>
</html>
